.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 2rem;
    margin: 4rem 2rem;
}
.cart-container{
    background-color: #FFE0B3;
    /* text-align: center; */
}

.pagination{
    margin-left: 200px;
    margin-bottom: 50px;
}

.pagination button{
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
}

.pagination .selected{
    background-color: orange;
    border: gold;
    font-weight: bold;
    padding: 8px;
    width: 40px;
    border-radius: 7px;
}
